@media only screen and (min-width: 1121px) {
    .header__nav-menu {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 60vw;
        top: 0;
        border: none;
    }

    .header__nav-menu-link {
        margin-left: 4rem;
    }

    .header__menu-btn {
        display: none;
    }
}