:root {
    --main-color: #329830;
    --dark-text-color: #3b383a;
    --light-text-color: #777777;
    --light-border: #eaeaea;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    width: 100vw;
    max-width: 100%;
    font-size: 62.5%;
}
div, img {
    display: block;
}
a:focus {
    outline: thin dotted var(--main-color);
}

.page {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    line-height: 23px;
    font-weight: 400;
    color: var(--light-text-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
}

.about__image {
    margin-bottom: 2rem;
}

.about__wrapper {
    max-width: 1300px;
}

.banner__buttons-container {
    width: 100%;
}

.banner__video {
    width: 100%;
}

.banner__window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    border-bottom: 1px solid var(--light-border);
}

.banner__description {
    text-align: center;
    margin: 15px 0;
}

.btn {
    line-height: 23px;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
    cursor: pointer;
    transition: .5s;
    width: 100%;
    outline: none;
    box-shadow: none;
    margin-top: 2rem;
}

.btn--small {
    width: 200px;
}

.btn--white-to-green {
    border: 2px solid white;
    background-color: white;
    color: var(--dark-text-color);
}

.btn--white-to-green:hover {
    background-color: var(--main-color);
    color: white;
}

.btn--white-to-black {
    border: 2px solid var(--dark-text-color);
    background-color: white;
    color: var(--dark-text-color);
}

.btn--white-to-black:hover {
    background-color: var(--dark-text-color);
    color: white;
}

.btn--green-to-white {
    border: 2px solid var(--main-color);
    border-color: var(--main-color);
    background-color: var(--main-color);
    color: white;
}

.btn--green-to-white:hover {
    border: 2px solid var(--main-color);
    border-color: var(--main-color);
    background-color: white;
    color: var(--main-color);
}

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.container--contact {
    background: var(--main-color) url(../assets/img/cta-bg.png) no-repeat bottom center;
    background-size: cover;
    color: white;
    padding: 3.5rem 2rem;
    margin: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container--footer {
    background-color: var(--light-border);
    padding: 2rem;
    text-align: center;
    margin: 0;
}

.description {
    font-size: 1.5rem;
    color: var(--light-text-color);
    margin: 15px 0;
}

.description--white {
    color: white;
}

.description--footer {
    line-height: 3rem;
}

.header {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.header__contactData {
    display: none;
}

.header__menu-bar {
    display: flex;
    width: 100vw;
    padding: 10px 0;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

.header__logo {
    width: 160px;
}

.header__menu-btn {
    width: 35px;
    height: 50px;
    background: url(../assets/img/menu.svg) no-repeat center left;
    background-size: 35px 35px;
    cursor: pointer;
}

.header__nav-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    top: 11rem;
    left: 0;
    line-height: 4rem;
    list-style: none;
    z-index: 2;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px solid var(--light-border);
}

.header__nav-menu-link {
    font-weight: 500;
    color: var(--dark-text-color);
    text-decoration: none;
    transition: color 0.1s;
}

.header__nav-menu-link:hover {
    color: var(--main-color);
}

.header__link {
    color: var(--dark-text-color);
    text-decoration: none;
    padding: 0 1rem;
    margin-left: 1rem;

}

.header__link--tel {
    background: url(../assets/img/phone.svg) no-repeat center left;
    background-size: 20px 20px;

}

.header__link--mail {
    background: url(../assets/img/mail.svg) no-repeat center left;
    background-size: 20px 20px;

}

.header__link--fb {
    background: url(../assets/img/fb.svg) no-repeat center left;
    background-size: 20px 20px;
    margin-left: 20px;
}

.header__link--linkedin {
    background: url(../assets/img/linkedin.svg) no-repeat center left;
    background-size: 20px 20px;
}

.header__small-contact-bar {
    display: flex;
    width: 100%;
    height: 40px;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--light-border);
}

.heading--small {
    font-size: 2rem;
    font-weight: 500;
    color: var(--dark-text-color);
    margin-bottom: 1rem;
    min-height: 4rem;
}

.heading--medium {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--dark-text-color);
    padding: 2rem 0;
}

.heading--large {
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
}

.heading--white {
    color: white;
}

.heading--green {
    color: var(--main-color);
}

.image {
    width: 100%;
}

.link {
    color: var(--main-color);
    font-weight: 600;
}

.link--image {
    display: flex;
}

.link--services {
    margin: 1rem 0 0 0;
    transition: .4s;
}
.link--services:hover {
    color: var(--dark-text-color);
}

.link--services img:hover {
    opacity: 0.2;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.services__image-container {
    background-color: var(--main-color);
}

.services__image {
    transition: .4s;
}
.services__image:hover {
    opacity: .2;
}

.services__content {
    border: 1px solid var(--light-border);
    border-top: 0;
    padding: 3rem;
}

.services__service {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 2rem;
    flex-grow: 1;
    width: 100%;
    max-width: 1300px;
}
.wrapper--content-centered {
    justify-content: center;
}
.wrapper--menu-bar {
    justify-content: space-between;
}
.wrapper--about {
    flex-direction: column;
    align-items: flex-start;
}

.hidden {
    display: none;
}