/* -- T³o Strony --*/

body {
background: #5c6b68;
}


/*-- obrazki na stronie --*/

img {
border: 0;
}


/*-- obramowanie linków --*/

a {
outline: 0;
}


/* -- Rozmiar strony i jej wyœrodkowanie --*/

#wrapper {
width: 1300px;
margin: 30px auto;
background: #fff;
}


/* -- Góra strony --*/

#logo {
width: 1300px;
height: 500px;
background: #ccc;
}


/* -- Œrodek strony --*/

#content {
width: 1300px;
min-height: 800px;
background: #ccc;
}


/* -- Menu G³ówne --*/

#menu {
float: left;
width: 441px;
min-height: 1300px;
background: #ccc;
}

#menu ul li {
list-style: none;
background-image: url('../images/menutlo.png');
width: 300px;
height: 53px;
padding: 10px 10px 10px 15px;
background-repeat: no-repeat;
font-family: verdana;
}

#menu ul li a {
text-decoration: none;
color: #fff;
font-size: 17px;
}


#menu ul li:hover {
text-decoration: none;
color: #fff;
background-image: url('../images/menutlo2.png');
background-repeat: no-repeat;
width: 300px;
height: 53px;
padding: 10px 10px 10px 15px;
font-family: Verdana;
list-style: none;
}

/* -- Druga kolumna --*/

#content-center h2 {
color: #000;
font-weight: bold;
text-align: center;
padding: 10px 10px 0 10px;
font-family: Verdana;
font-size: 15px;
}

#content-center a {
text-decoration: underline;
color: #000;
font-size: 13px;
}


#content-center img {
margin-top: 30px;
}

#content-center {
width: 851px;
min-height: 1300px;
overflow: hidden;
font-size: 13px;
font-family: Verdana;
background-image: url('../images/content-center.png');
background-repeat: no-repeat;
float: right;
padding-left: 8px;
}


/* -- Marginesy i odstêpy w poszczególnych stronach --*/


#logo-firmy img {
margin-top: 30px;
}

#wykazy h2 {
color: #000;
font-weight: bold;
text-align: center;
padding: 10px 10px 0 10px;
font-family: Verdana;
font-size: 15px;
}

#wykazy a {
text-decoration: underline;
color: #000;
font-size: 13px;
}


#wykazy img {
margin-top: 5px;
}

#wykazy {
width: 600px;
min-height: 600px;
font-size: 13px;
font-family: Verdana;
float: right;
padding-left: 5px;
margin-left: 50px;
margin-right: 150px;
}

#wykazy ol {
list-style-type: decimal;
}


#wykazy li {
color: #000;
}

#glowna h2 {
color: #000;
font-weight: bold;
text-align: center;
padding: 10px 10px 0 10px;
font-family: Verdana;
font-size: 15px;
}

#glowna a {
text-decoration: underline;
color: #000;
font-size: 13px;
}



#glowna {
margin-top: 50px;
width: 849px;
min-height: 200px;
font-size: 14px;
font-family: Verdana;
float: right;
padding-left: 5px;
}

#o_nas {
width: 600px;
min-height: 200px;
font-size: 13px;
font-family: Verdana;
float: right;
padding-left: 5px;
margin-left: 70px;
margin-right: 140px;
}

#o_nas h2 {
color: #000;
font-weight: bold;
text-align: center;
padding: 10px 10px 0 10px;
font-family: Verdana;
font-size: 15px;
}

#o_nas a {
text-decoration: underline;
color: #000;
font-size: 13px;
}

#ekipa table {
margin-top: -5px;
font-size: 13px;
}


#wspolpraca {
width: 600px;
min-height: 200px;
font-size: 13px;
font-family: Verdana;
float: right;
padding-left: 5px;
margin-left: 70px;
margin-right: 120px;
}

#wspolpraca h2 {
color: #000;
font-weight: bold;
text-align: center;
padding: 10px 10px 0 10px;
font-family: Verdana;
font-size: 15px;
}

#wspolpraca a {
text-decoration: underline;
color: #000;
font-size: 13px;
}

#kontakt {
margin-top: -30px;
width: 849px;
min-height: 200px;
font-size: 15px;
font-family: Verdana;
float: right;
padding-left: 5px;
}

#aktualnosci {
font-size: 20px;
color: #ff0000;
padding-left: 5px;
margin-left: 110px;
margin-right: 120px;
}

#kontakt table {
}

/* -- Stopka --*/

#footer {
background: #fff;
width: 1300px;
text-align: center;
float: left;
}

